<div class="container search-table">
  <div class="search-box">
    <div class="row">
      <div class="col-md-12">
        <h5>Search All Fields</h5>
      </div>

    </div>

    <div class="row">
      <div class="col-md-9 col-lg-9">
        <input type="text"
          class="form-control"
          placeholder="Search all fields e.g. HTML"
          [formControl]="queryField">
      </div>
      <div class="col-md-3 col-lg-3">
        <button class="btn btn-lg btn-success"
          (click)="onSearch()">Buscar</button>
      </div>


    </div>
  </div>
  <div class="search-list"
    *ngIf="result.length > 0">
    <h3>{{result.length}} Records Found</h3>
    <table class="table"
      id="myTable">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>City</th>
          <th>State</th>
          <th>Country</th>
          <th>Shipped</th>
          <th>Items</th>
          <th>Total</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>


        <tr *ngFor="let ord of result ">
          <td>{{ord.id}}</td>
          <td>{{ord.name}}</td>
          <td>{{ord.city}}</td>
          <td>{{ord.state}}</td>
          <td>{{ord.country}}</td>
          <td>{{ord.shipped}}</td>
          <td>{{ord.itemCount}}</td>
          <td>{{ord.cartPrice}}</td>
          <td>{{ord.date | date:'medium'}}</td>
        </tr>

      </tbody>
    </table>

  </div>
</div>
