<div class="container">
  <div class="row">
    <div class="row wow fadeIn mt-3" *ngFor="let prod of products">
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            src="../../assets/img/{{ prod.productCode }}.jpg"
            class="card-img-top"
            alt=""
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body text-center">
          <!--Category & Title-->
          <a href="" class="grey-text">
            <h5>Shirt</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text"
                >Denim shirt
                <span class="badge badge-pill danger-color">NEW</span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>120 £</strong>
          </h4>
        </div>
        <!--Card content-->
      </div>
    </div>
  </div>
</div>
